{% extends "base.html.twig" %}

{% block title %}home{% endblock %}


{% block body %}
<h1>Home page</h1>
<p>Garages index : <a href = "{{ path('garage_list') }}">Here</a></p>
{% endblock %} {#block main#}