{% extends 'base.html.twig' %}

{% block title %}garages{% endblock %}

{% block body %}
<h1>Here are all the garages</h1> 
<ul>
{% for garage in garages %}
<li><a href ="{{ path('garage_show', {'id': garage.id} ) }}"> {{ garage.name }}</a></li>
{% endfor %}
</ul>

<a href= "{{ path('home') }}"><button>Back to home</button></a>
{% endblock %} {# bock body #}
