{% extends "base.html.twig" %}

{% block title %}a garage{% endblock %}

{% block body %}

<h1>Here are "{{ garage.name }}" 's cars </h1>

{% for car in garage.garage %}
<p>{% for brand in car.brand %}

{{ brand.name }}

{% endfor %}
</p><br>

{% endfor %}

<a href = "{{ path('garage_list') }}"><button>Back to garage index</button></a>

{% endblock %}