  <ul>
{% for car in field.value %}
  {%- set url = ea_url()
    .setController('App\\Controller\\Admin\\CarCrudController')
    .setAction('detail')
    .setEntityId(car.id)
  -%}
  <li>
  	<a href="{{ url }}">
        {{ car.brand.name }}
  	</a>
  </li>
{% else %}
</ul>  
  <span class="badge badge-secondary">None</span>
  <ul>
{% endfor %}
  </ul>